---
import BaseLayout from "@layouts/BaseLayout.astro";
import HorizontalCard from "@components/cards/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "src/lib/createSlug";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_projects = projects.slice(0, 3);
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Pedro Castro</div>
    <div class="text-3xl py-3 font-bold">
      Informatics and Computing Engineering Student
    </div>
    <div class="py-2">
      <text class="text-lg">
        I have a strong interest in problem-solving and algorithm design.
        Passionate about learning new technologies and contributing to projects.
        I'm also an avid reader and a strong advocate for open-source
        collaboration.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://linkedin.com/in/peucastro/" target="_blank">
        Let's connect!</a
      >
      <a href="resume.pdf" target="_blank" class="btn btn-outline ml-5">
        My résumé
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/blog/" + createSlug(project.data.title, project.slug)}
          badge={project.data.badge}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
